hydra:
  run:
    dir: outputs/${hydra.job.name}/${now:%Y-%m-%d_%H-%M-%S}

trainer:
  # gpus: 1  # Deprecated since pytorchlightning 1.7, removed in 2.0. Replaced by the 2 next attributes
  accelerator: 'gpu'
  devices: 1
  max_epochs: 1
  #val_check_interval: 10
  check_val_every_n_epoch: 1

inference:
  predict: true
  checkpoint_path: "../2023-04-25_18-56-53/checkpoint-epoch=00-step=244-val_accuracy=0.2512.ckpt"

model:
  provider_name: "timm"  # choose from ["timm", "torchvision"]
  model_name: "resnet18"
  model_kwargs:
    pretrained: false  # Deprecated in torchvision since 0.13 (replaced by "weights") but used by timm
    num_classes:
    in_chans:
    output_stride:
    global_pool:
  modifiers:
    change_last_layer:
      num_outputs: 10

optimizer:
  lr: 1e-2
  weight_decay: 0
  momentum: 0.9
  nesterov: true

data:
  dataset_path: "../../../dataset/"  # Relative to hydra.run.dir
  train_batch_size: 32
  inference_batch_size: 256
  num_workers: 8
